body{
    background-color: gray;
    background-image: url(https://cutewallpaper.org/21/portfolio-background/44-Portfolio-Wallpaper-on-WallpaperSafari.png);
    background-size: cover;
}
#meunome {
   margin-right: 82%;
   border-radius: 10%;
   text-align: right;
   
   
}
#fototopo {
    margin-left: 0px;
    margin-right: 20px;
    padding-left: 40%;
    
}
.subtitle {
    background-color:#414142 ;
    margin-right: 80%;
    padding: 5%;
    border-radius: 5%;
}
#topicos{
    padding: 10%;
    margin-left: 37%;
    background-color: #414142;
    border-radius: 5%;
    margin-right: 37%;
    margin-bottom: 1%;
    text-align: center;
    text-decoration-style: none;
    font-size: large;
}
